p {

margin-left:10px;
}

body {

background-color: #F5F5DC;

a:hover {color:red;
text-decoration:none;}

body { color: lightblue;}
p { font-family: “Verdana”; color:#2E8B57; font-size: 20px; }

h1,h2,h3,h4,h5,h6 { color:#4682B4; text-align: left};}

p {margin-left: 20px}

}
